@charset "UTF-8";
html{
  font-size: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}
ol{
  list-style-position: inside;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
header{
  margin-top: 40px;
}
h1 img{
  width: 180px;
}
.big-image{
  margin-top: 5px;
}
.big-image img{
  width: 100%;
}
.wrapper{
  max-width: 800px;
  margin: 0 auto;
}
#index-section{
  background-color: rgba(247, 242, 242, 0.844);
}
.section-space{
  margin: 50px 0;
}
.title{
  text-align: center;
  padding: 40px 60px;
}
.title h2{
  font-size: 1.2rem;
  margin: 20px 0;
  color: rgb(86, 84, 84);
}
.index-list{
  width: 100%;  
  padding: 30px 0px;
  border: 1px solid;
}
.list{
  line-height: 40px;
  font-size: 0.9rem;
  color: rgb(59, 57, 57);
}
.content-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.content-image img{
  width: 100%;
}
#detail-section{
  background-color: rgba(247, 242, 242, 0.844);
  margin-bottom: 100px;
}
.detail-list{
  display: flex;
  width: 100%;
  text-align: left;
}
.detail-index{
  width: 40%;
  margin: 0 auto;
}
.detail-idex p {
  font-size: 0.87rem;
  color: rgb(90, 90, 90);
}
.detail-idex-space{
  padding-bottom: 10px;
}
.detail-title{
  font-weight: bold;
}
.detail-border{
  width: 75%;
  margin: 0 auto;
}
.detail-text{
  font-size: 0.87rem;
  margin-left: 50px;
  padding-left: 50px;
  border-left: 1px solid;
  color: rgb(90, 90, 90);
}
.detail-text a{
  color: rgb(58, 58, 58);
}
.detail-text a:hover{
  color: rgb(139, 136, 136);
}
footer{
  margin-bottom: 20px;
}
footer p{
  text-align: center;
  font-size: 0.8rem;
  color: #636363;
}
@media (max-width: 1024px) {
    .response-wrapper{
      padding: 0 10px;
    }
    .content-image{
      justify-content: center;
      grid-template-columns: auto;
      grid-row: auto;
    }
    .content-image img{
      max-width: 100%;
    }
    .title{
      text-align: center;
      padding: 40px 30px;
    }
    .detail-list{
      flex-direction: column;
      text-align: left;
    }
    .detail-border{
      width: 100%;
    }
    .detail-text{
      margin: 30px 0 0 0;
      padding: 30px 0 0 0;
      border-top: 1px solid;
      border-left: none;
    }
}