@charset "UTF-8";
html{
  font-size: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}
ol{
  list-style-position: inside;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
header{
  margin-top: 40px;
}
h1 img{
  width: 180px;
}
.big-image{
  margin-top: 5px;
}
.big-image img{
  width: 100%;
}
.wrapper{
  max-width: 800px;
  margin: 0 auto;
}
#index-section{
  background-color: rgba(247, 242, 242, 0.844);
}
.section-space{
  margin: 50px 0;
}
.index{
  text-align: center;
  padding: 50px;
}
.index h2{
  font-size: 1.2rem;
  margin: 20px 0;
  color: rgb(86, 84, 84);
}
.index-list{
  width: 100%;  
  padding: 30px 10px;
  border: 1px solid;
}
.list{
  line-height: 40px;
  font-size: 0.9rem;
  color: rgb(59, 57, 57);
}


@media (max-width: 1024px) {
    .response-wrapper{
      padding: 0 10px;
    }
}